{% extends "base.html" %}
{% block content %}


<p><b>资产一览表</b></p>

<div class="table-responsive">
        <table class="table table-bordered" style="width: 100%;">
            <thead>
            <tr>
<th>资产名称及链接</th>
 <th>现价来源</th>
<th>开收盘价来源</th>
 <th>对照价格来源</th>

            </tr>
</thead>
            <tbody>
{% for item in item_list %}
<tr class="{{item.tr_class}}">
        <td ><a href=" {{ item.show_url}}" target="_blank">{{ item.title}}</a> </td>

    <td >
    {% if 'http://' in item.price_source %}
        <a href=" {{ item.price_source}}"  target="_blank">{{ item.price_source_name}}</a>
    {% else %}
        {{ item.price_source_name}}
    {% endif %}

        </td>

    <td >
    {% if 'http://' in item.open_close_source %}
        <a href=" {{ item.open_close_source}}"  target="_blank">{{ item.open_close_source_name}}</a>
    {% else %}
        {{item.open_close_source_name}}
    {% endif %}

    </td>

    <td >
    <a href=" {{ item.diff_url}}"  target="_blank">{{ item.diff_name}}</a>

    </td>



</tr>
{% endfor %}

            </tbody>
</table>
</div>
{% endblock %}